API/bin/
API/Bin/
API/obj/
API/Obj/
Application/bin/
Application/Bin/
Application/obj/
Application/Obj/
Domain/bin/
Domain/Bin/
Domain/obj/
Domain/Obj/
Persistence/bin/
Persistence/Bin/
Persistence/obj/
Persistence/Obj/
**/*.suo
.vs
.vs/
**/.vs
**/bin
**/Bin
**/obj
**/Obj
*/.suo
